.bodys{
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation:  gradient-animation 10s ease infinite;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    } 100% {
        background-position: 0% 50%;
    }
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
     
}
.container {
    background-color: white;
    border-radius: 20px;
    position: relative;
    width: 95%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 4%;
    font-size: large;
    height: 90%;
}
.bro{
    margin-top: 7px;
}

.success{
    width: 8rem;
    height: 3rem;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 10%;
}
.clear{
    width: 8rem;
    height: 3rem;
    border-radius: 20px;
    font-weight: bold;
}

.form{
    margin: 3%;
    height: 90%;
}
.file{
    margin-top: 1%;
}