nav{
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 999;
    margin-left: 2rem;
}
input{
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
}

.nav-icons{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
    color: #494949;
}

.register:hover{
    color: purple;
    
}
.register{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 20px;
}

@media (max-width:400px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .search-input{
        margin-right: 2px;
        margin-left: 150px;
        margin-top: 2px;
        margin-bottom: 40px;
    }
    .nav-icons{
        display: none;
    }
    .register{
        margin-right: 2px;
        margin-left: 100px;
        margin-top: 2px;
        margin-bottom: 40px; 
    }
}